body{
	margin-left: 0%;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	height: 100%;
}
html, body{
	height: 100%;
}
#mainbanner{
	width: 100%;
	height: 100%;
	margin-bottom: 115px;
	
}
.banner{
  background-image: url("beemgames/beem-images/beem-games-online-racing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  height: 120%;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity:0.9;
}
.banner h2 {
  font-size: 2.0rem;
  font-family: Poppins;
  font-weight: 100;
  color: #fff;
  letter-spacing: -1px;
  word-wrap: break-word;
}

.banner {
  font-size: 1.75rem;
  font-family: Poppins;
  font-weight: 70;
  color: #fff;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: -13px;

  
}
#bannertext{
	font-size: 30%;
	color: #fff;
	letter-spacing: 0.03vw;
	margin-top: -14px;
}
.platforms{
	margin-top: auto;
}
#firstbutton{
  border: 0 solid;
  box-shadow: inset 0 0 30px #3f50b5;
  outline: 1px solid;
  outline-color: #3f50b5;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #11be4f;
} 
#firstbutton:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px #3f50b5;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
/** App store section**/
#platforms img{
	width: 100px;
	margin-left: 10%;
	padding-left: 5px;

}
#platforms h2{
	font-family: Poppins;
	font-size: 1.10rem;
	display:inline;
	padding-left: 10%;

}

/** grid section containing list of games**/
.fullgrid{
	width: 100%;
	height: 680px;
	background-color: #fff;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 3%;
}
#grid-1{
	width: 100%;
	height: 500px;
	background-color: #e21546;
}
#grid-2{
	width: 100%;
	height: 200px;
	background-color: #d9d9ec;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 0%;
	
	
}
.footer{
	width: 100%;
	height: 200px;
	margin-top: 3%;
	background-color: #3f50b5;

	

}
